@font-face{font-family:'Cormorant Garamond';font-style:italic;font-weight:500;font-display:swap;src:url(CormorantGaramond-500i.woff2) format('woff2')}
@font-face{font-family:'Cormorant Garamond';font-style:normal;font-weight:500;font-display:swap;src:url(CormorantGaramond-500.woff2) format('woff2')}
@font-face{font-family:'Cormorant Garamond';font-style:normal;font-weight:600;font-display:swap;src:url(CormorantGaramond-600.woff2) format('woff2')}
@font-face{font-family:'Marcellus SC';font-style:normal;font-weight:400;font-display:swap;src:url(MarcellusSC-400.woff2) format('woff2')}
